<ion-view view-title="Forgot Password" class="fullscreen-bg1">
  <ion-nav-bar class="bar-clear">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>

    <ion-content ng-show="!state.success" has-header="true" has-tabs="true" padding="true">
      <img class="logoHolder" src="img/MedProfolioLogo.png" />
      <div class="padding" style="padding-top: 230px">
      <div class="list">
        <label class="item item-input">
          <input type="email" ng-model="user.email" placeholder="Enter your email">
        </label>
      </div>
      <div class="assertive" ng-show="error.message">{{error.message}}</div>
      <button class="button button-block button-calm" ng-click="reset()">
        Reset Password
      </button>
        </div>
    </ion-content>

    <ion-content ng-show="state.success" has-header="true" has-tabs="true" padding="true">
      <img class="logoHolder" src="img/MedProfolioLogo.png" />
      <div class="padding" style="padding-top: 230px">
      <div class="positive">An email has been sent to you with instructions on resetting your password.</div>
      <button class="button button-block button-calm" ng-click="login()">
        Log In
      </button>
        </div>
    </ion-content>
</ion-view>
