<ion-view view-title="Sign-up" class="fullscreen-bg1">
  <ion-nav-bar class="bar-clear">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="padding">
    <img class="logoHolder" src="img/MedProfolioLogo.png">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text" ng-model="newUser.firstname">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="newUser.lastname">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" ng-model="newUser.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="newUser.password">
      </label>
    </div>


    <div class="padding">
      <button class="button button-block button-calm" ng-click="signup()">
        Create Account
      </button>
      <p class="text-center">
        <a href="#/forgot-password">Back to Login</a>
      </p>
    </div>
  </ion-content>
</ion-view>
