<ion-view view-title="Sign-up" class="fullscreen-bg1">
  <ion-nav-bar class="bar-clear">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="padding">
    <img class="logoHolder" src="img/MedProfolioLogo2.png">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text" ng-model="newUser.firstname">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="newUser.lastname">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" ng-model="newUser.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="newUser.password">
      </label>
    </div>

    <div class="avatarContainer">
      <p>choose one</p>
      <div class="avatarOption">
        <input type="radio" ng-model="newUser.avatar" class="radioHide" id="cb-av-1" value="av-1-fnur.png" checked />
        <label id="av-1-fnur" for="cb-av-1" class="avatarBackground"></label>
      </div>
      <div class="avatarOption">
        <input type="radio" ng-model="newUser.avatar" class="radioHide" id="cb-av-2" value="av-2-mnur.png" />
        <label id="av-2-mnur" for="cb-av-2" class="avatarBackground"></label>
      </div>
      <div class="avatarOption">
      <input type="radio" ng-model="newUser.avatar" class="radioHide" id="cb-av-3" value="av-3-cros.png" />
      <label id="av-3-cros" for="cb-av-3" class="avatarBackground"></label>
      </div>
      <div class="avatarOption">
      <input type="radio" ng-model="newUser.avatar" class="radioHide" id="cb-av-4" value="av-4-mnur.png" />
      <label id="av-4-mnur" for="cb-av-4" class="avatarBackground"></label>
        </div>
      <div class="avatarOption">
      <input type="radio" ng-model="newUser.avatar" class="radioHide" id="cb-av-5" value="av-5-fnur.gif" />
      <label id="av-5-fnur" for="cb-av-5" class="avatarBackground"></label>
        </div>
      <div class="avatarOption">
      <input type="radio" ng-model="newUser.avatar" class="radioHide" id="cb-av-6" value="av-6-fnur.gif" />
      <label id="av-6-fnur" for="cb-av-6" class="avatarBackground"></label>
        </div>
          <div class="avatarOption">
      <input type="radio" ng-model="newUser.avatar" class="radioHide" id="cb-av-7" value="av-7-mdoc.png" />
      <label id="av-7-mdoc" for="cb-av-7" class="avatarBackground"></label>
            </div>
      <div class="avatarOption">
      <input type="radio" ng-model="newUser.avatar" class="radioHide" id="cb-av-8" value="av-8-seth.png" />
      <label id="av-8-seth" for="cb-av-8" class="avatarBackground"></label>
        </div>
    </div>

    <div class="padding">
      <button class="button button-block button-calm" ng-click="signup()">
        Create Account
      </button>
      <p class="text-center">
        <a href="#/forgot-password">Back to Login</a>
      </p>
    </div>
  </ion-content>
</ion-view>
