<ion-view view-title="Certifications" >
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-title>Add</ion-nav-title>
    <ion-content class="padding">
        <form name="addCertForm" novalidate="">



          <label class="item item-input">
            <span class="input-label">Title</span>
            <input type="text" name="title" placeholder="State Nursing License" ng-model="newCert.title" required>
          </label>

            <label class="item item-input">
                <span class="input-label">Issued Date</span>
                <input type="date" name="issued" ng-model="newCert.issued">
            </label>

            <label class="item item-input">
                <span class="input-label">Expiration Date</span>
                <input type="date" name="issued" ng-model="newCert.expiration">
            </label>

            <label class="item item-input">
                <span class="input-label">Notes</span>
                <textarea name="notes" rows="3" style="width: 60%" ng-model="newCert.notes"
                          placeholder="Tell Jane at work when renewed!" ></textarea>
            </label>


          <div class="list card">

            <div class="item item-divider">

              <h2>Image</h2>
              <p>Please add an image</p>
            </div>

            <div class="item item-image">
              <img ng-show="newCert.image == null" src="img/imgplaceholder3by2.png">
              <img ng-show="newCert.image != null" ng-src="{{newCert.image}}" style="max-width: 300px">
            </div>

            <div class="button-bar" style="padding: 10px 20px">
            <button class="button icon-left ion-camera button-positive" ng-click="takePhoto()">Take Photo</button>
            <button class="button icon-left ion-upload button-positive" ng-click="choosePhoto()">Choose Photo</button>
          </div></div>

          <div class="fieldsRequired" ng-show="addCertForm.title.$error.required">
            Title is required to Add Certification.
          </div>

            <button class="button button-full button-calm" type="submit" ng-disabled="addCertForm.$invalid" ng-click="insertCert(addCertForm)">
                Add Certification
            </button>

        </form>

    </ion-content>
</ion-view>
