<ion-view view-title="Certifications" class="fullscreen-bg">

  <ion-nav-bar class="bar-stable">

    <!--style="color: #009900; background-color: #009900"-->
    <!--<ion-nav-back-button class="button-icon ion-arrow-left-c">-->
    <!--</ion-nav-back-button>-->

    <!--<ion-nav-buttons side="secondary">-->
      <!--<button class="button-clear icon ion-plus-circled" ng-click="addCert()" style="color: white"> New</button>-->
    <!--</ion-nav-buttons>-->

  </ion-nav-bar>
  <ion-nav-title>Certifications</ion-nav-title>

  <ion-content class="padding">

    <!--<ion-refresher-->
      <!--pulling-text="Pull to refresh..."-->
      <!--on-refresh="refreshCertifications()" >-->
    <!--</ion-refresher >-->

    <a id="top"></a>
    <img class="logoHolder" src="img/MedProfolioLogo.png">

    <h3 style="text-align: center">{{user.firstname}} {{user.lastname}}</h3>

    <div class="list card certCard" ng-repeat="cert in dataFactory.certifications">
      <div class="item item-icon-left" ng-click="showDelete = !showDelete">
        <i class="icon ion-card"></i>
        {{cert.attributes.title}}
        <div style="display: inline-block; float: right">
          <i class="ion-ios-close" style="font-size: x-large"
             ng-show="showDelete" ng-click="deleteCert(cert)"></i>
        </div>
      </div>
      <div class="item item-body">
        <div class="certThumbnailHolder" ng-click="openModal(cert.attributes.image.url().replace('http://', 'https://'), cert.attributes.title)">
          <img crossorigin="anonymous" id="certImage_{{$index}}" ng-src="{{cert.attributes.image.url().replace('http://files.parsetfss.com/', 'https:\/\/medprofolio.parseapp.com\/images\/')}}" class="framedCert">
          <!--<img id="certImage_{{$index}}" ng-src="{{cert.attributes.image.url().replace('http://', 'https://')}}" class="framedCert">-->
        </div>
        </div>
      <div class="item item-text-wrap">
        <div><b>Expires:</b> {{cert.attributes.expiration | date:'longDate'}}</div>
        <div><b>Issued:</b>  {{cert.attributes.issued | date: 'longDate'}}</div>
        <div style=""><b>Notes:</b> {{cert.attributes.notes}} </div>
      </div>
    </div>


    <p class="text-center">
      <button class="button button-clear button-positive" ng-click="addCert()">
        Add Certification..
      </button>
    </p>

    <p class="text-center">
      <button class="button button-clear button-positive" ng-click="export()">
        Export to PDF
      </button>
    </p>

    <!--<iframe id='pdfImage' src="empty.html"-->
            <!--style="height:1100px;width:100%;border:navy solid thin;"></iframe>-->

  </ion-content>
</ion-view>
