<ion-view view-title="Certifications" class="fullscreen-bg">

  <ion-nav-bar class="bar-clear">
    <!--<ion-nav-back-button class="button-icon ion-arrow-left-c">-->
    <!--</ion-nav-back-button>-->

    <!--<ion-nav-buttons side="secondary">-->
      <!--<button class="button-clear icon ion-plus-circled" ng-click="addCert()" style="color: white"> New</button>-->
    <!--</ion-nav-buttons>-->

  </ion-nav-bar>
  <ion-nav-title>Certifications</ion-nav-title>

  <ion-content class="padding">

    <!--<ion-refresher-->
      <!--pulling-text="Pull to refresh..."-->
      <!--on-refresh="refreshCertifications()" >-->
    <!--</ion-refresher >-->

    <img class="logoHolder" src="img/MedProfolioLogo2.png">

    <h3 style="text-align: center">{{user.firstname}} {{user.lastname}}</h3>


    <!--<div class="list card">-->
      <!--<div class="item item-divider" style="text-align: center">-->
        <!--Ohio Nursing License </div>-->
      <!--<div class="item item-body">-->
        <!--<div class="certThumbnailHolder">-->
          <!--<img src="img/mockup/wislicense.jpg" style="max-height: 100%; max-width: 100%; display: block; margin: auto">-->
        <!--</div>-->
         <!--<div><b>Expires:</b> 12/31/2016</div>-->
        <!--<div><b>Issued:</b>  10/14/2014</div>-->
        <!--<div><b>Notes:</b></div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="list card certCard" ng-repeat="cert in dataFactory.certifications">
      <div class="item item-icon-left" ng-click="showDelete = !showDelete">
        <i class="icon ion-card"></i>
        {{cert.attributes.title}}
        <div style="display: inline-block; float: right">
          <i class="ion-ios-close" style="font-size: x-large"
             ng-show="showDelete" ng-click="deleteCert(cert)"></i>
        </div>
      </div>
      <div class="item item-body">
        <div class="certThumbnailHolder" ng-click="openModal(cert.attributes.image.url().replace('http://', 'https://'), cert.attributes.title)">
          <img ng-src="{{cert.attributes.image.url().replace('http://', 'https://')}}" class="framedCert">
        </div>
        </div>
      <div class="item item-text-wrap">
        <div><b>Expires:</b> {{cert.attributes.expiration | date:'longDate'}}</div>
        <div><b>Issued:</b>  {{cert.attributes.issued | date: 'longDate'}}</div>
        <div style=""><b>Notes:</b> {{cert.attributes.notes}} </div>
      </div>
    </div>


    <p class="text-center">
      <button class="button button-clear button-positive" ng-click="addCert()">
        Add Certification..
      </button>
    </p>


  </ion-content>
</ion-view>
