<ion-view view-title="Certifications" class="fullscreen-bg1">

  <ion-nav-bar class="bar-clear">
    <!--<ion-nav-back-button class="button-icon ion-arrow-left-c">-->
    <!--</ion-nav-back-button>-->

    <ion-nav-buttons side="secondary">
      <button class="button-clear icon ion-plus-circled" ng-click="addCert()" style="color: white"> New</button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-nav-title>Certifications</ion-nav-title>

  <ion-content class="padding">

    <img class="logoHolder topPadding" src="img/MedProfolioLogo.png">

    <div class="list card">
      <div class="item item-divider" style="text-align: center">
        Ohio Nursing License </div>
      <div class="item item-body">
        <div class="certThumbnailHolder">
          <img src="img/mockup/wislicense.jpg" style="max-height: 100%; max-width: 100%; display: block; margin: auto">
        </div>
         <div><b>Expires:</b> 12/31/2016</div>
        <div><b>Issued:</b>  10/14/2014</div>
        <div><b>Notes:</b></div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider" style="text-align: center">
        CPR Certification </div>
      <div class="item item-body">
        <div class="certThumbnailHolder">
          <img src="img/mockup/wislicense.jpg" style="max-height: 100%; max-width: 100%; display: block; margin: auto">
        </div>
        <div><b>Expires:</b> 7/15/2016</div>
        <div><b>Issued:</b>  7/15/2014</div>
        <div><b>Notes:</b></div>
      </div>
    </div>


    <p class="text-center">
      <a href="#/tab/add-certification">Add Certification..</a>
    </p>


  </ion-content>
</ion-view>
