<ion-view view-title="Jobs" class="fullscreen-bg1">
  <ion-content class="padding">
    <img class="logoHolder topPadding" src="img/MedProfolioLogo.png">
   	<div class="list card">
		<div class="item item-divider">Travel Emergency Room Nurse (RN) </div>
    <div class="item item-body">
    <div>
        <span>
             <b>Title:</b> Travel Emergency Room Nurse (RN) <br/>
             <b>Start Date:</b>February 2016 <br />
             <b>Company:</b> Amita Health <br />
             <b>Travel Nursing Location:</b> New York, NY <br />
             <b>Salary:</b> $40.00-$50.00 per hour <br />
             <b>Reference Number:</b> U99765 <br />
             </span>
    </div>
    </div>
	</div>

   <div class="list card">
		<div class="item item-divider">Travel Nurse - RN - Radiology </div>
    <div class="item item-body">
    <div>
        <span>
             <b>Title:</b> Travel Nurse - RN - Radiology <br/>
             <b>Start Date:</b>April 2016 <br />
             <b>Company:</b> George Washington University Hospital <br />
             <b>Travel Nursing Location:</b> Washington, DC <br />
             <b>Salary:</b> $45.00-$55.00 per hour <br />
             <b>Reference Number:</b> A78142 <br />
             </span>
    </div>
    </div>
	</div>

	<div class="list card">
		<div class="item item-divider">Travel Nurse - RN - Intermediate Care Registered Nurse </div>
    <div class="item item-body">
    <div>
        <span>
             <b>Title:</b> Travel Nurse - RN - Intermediate Care Registered Nurse <br/>
             <b>Start Date:</b>Immediate <br />
             <b>Company:</b> FASTAFF <br />
             <b>Travel Nursing Location:</b> Corona, CA <br />
             <b>Salary:</b> $45.00 per hour <br />
             <b>Reference Number:</b> 57683 <br />
             </span>
    </div>
    </div>
	</div>
  </ion-content>
</ion-view>
