<ion-view view-title="Home" class="fullscreen-bg2">
    <ion-content class="padding">

        <img class="logoHolder topPadding" src="img/MedProfolioLogo.png">


        <h3 style="color: white; text-align: center">{{user.firstname}} {{user.lastname}}</h3>

        <img class="avatarHolder" ng-src="img/avatars/{{user.avatar}}">

        <div class="starContainer">
            <i class="icon ion-ios-star"></i>
            <i class="icon ion-ios-star-outline"></i>
            <i class="icon ion-ios-star-outline"></i>
            <i class="icon ion-ios-star-outline"></i>
        </div>

        <!--Expiration Section-->

        <div class="list card">
            <div class="item item-divider homeHeaderBackground">
                <div class="row">
                    <div class="col col-20">

                        <i class="icon ion-ios-bell" style="font-size: 25px; vertical-align: middle"></i>

                    </div>
                    <div class="col col-80">
                        Upcoming Expirations
                    </div>

                </div>
            </div>
            <div class="item item-body" >
                <div class="row">
                    <div class="col col-20" style="">
                        <i class="icon ion-calendar" style="font-size: x-large; display: block; color: red"></i>
                    </div>
                    <div class="col col-60">
                        Ohio Nursing License
                    </div>
                    <div class="col col-20">
                        10 days
                    </div>
                </div>

                <div class="row">
                    <div class="col col-20" style="">
                        <i class="icon ion-calendar" style="font-size: x-large; display: block"></i>
                    </div>
                    <div class="col col-60">
                        CPR Certification
                    </div>
                    <div class="col col-20">
                        50 days
                    </div>
                </div>
            </div>
        </div>

        <!-- END Expiration Section -->

        <!-- Profile Strength Section -->

        <div class="list card">
            <div class="item item-divider homeHeaderBackground">
                <div class="row">
                    <div class="col col-20">
                        <i class="icon ion-ios-star" style="font-size: 25px; vertical-align: middle"></i>
                    </div>
                    <div class="col col-80">
                        Profile Strength
                    </div>

                </div>
            </div>
            <div class="item item-body">
                <div class="starContainer" style="color: black; text-align: left">
                    <i class="icon ion-ios-star"></i>
                    <i class="icon ion-ios-star-outline"></i>
                    <i class="icon ion-ios-star-outline"></i>
                    <i class="icon ion-ios-star-outline"></i>
                </div>

                <div>
                    Add a Certification or Professional Dev item for another star!
                </div>
            </div>
        </div>

        <!-- END Profile Strength Section -->

        <!-- Recent Updates Section -->

        <div class="list card">
            <div class="item item-divider homeHeaderBackground">
                <div class="row">
                    <div class="col col-20">
                        <i class="icon ion-arrow-graph-up-right" style="font-size: 25px; vertical-align: middle"></i>
                    </div>
                    <div class="col col-80">
                        Recent Updates
                    </div>

                </div>
            </div>
            <div class="item item-body">
                <div>
                    Added 2 new <a href="#/tab/certifications"> <b>Certifications</b> </a>
                </div>
            </div>
        </div>

        <!-- END Recent Updates Section -->

        <!-- Jobs Section -->
        <div class="list card">
            <div class="item item-divider homeHeaderBackground">
                <div class="row">
                    <div class="col col-20">
                        <i class="icon ion-cash" style="font-size: 25px; vertical-align: middle"></i>
                    </div>
                    <div class="col col-80">
                        Jobs
                    </div>

                </div>
            </div>
            <div class="item item-body">
                <div>
                    There are 3 <a href="#/tab/jobs"><b>new jobs</b></a> you're qualified for
                </div>
            </div>
        </div>

        <!-- END Jobs Section -->

    </ion-content>
</ion-view>
