<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.

Ionicons -> http://ionicons.com/cheatsheet.html
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" >

    <!--&lt;!&ndash; Home Tab &ndash;&gt;-->
  <!--<ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/home">-->
    <!--<ion-nav-view name="tab-home"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--&lt;!&ndash; Certifications Tab &ndash;&gt;-->
  <!--<ion-tab title="Certifications" icon-off="ion-card" icon-on="ion-card" href="#/tab/certifications">-->
    <!--<ion-nav-view name="tab-certifications"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--&lt;!&ndash; Professional Dev Tab &ndash;&gt;-->
  <!--<ion-tab title="Professional Dev" icon-off="ion-ribbon-b" icon-on="ion-ribbon-b" href="#/tab/prodev">-->
    <!--<ion-nav-view name="tab-prodev"></ion-nav-view>-->
  <!--</ion-tab>-->


  <!--&lt;!&ndash; Jobs Tab &ndash;&gt;-->
  <!--<ion-tab title="Jobs" icon-off="ion-medkit" icon-on="ion-medkit" href="#/tab/jobs">-->
    <!--<ion-nav-view name="tab-jobs"></ion-nav-view>-->
  <!--</ion-tab>-->


  <!-- Home Tab -->
  <ion-tab title="Home" icon="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Certifications Tab -->
  <ion-tab title="Certifications" icon="ion-card" href="#/tab/certifications">
    <ion-nav-view name="tab-certifications"></ion-nav-view>
  </ion-tab>

  <!-- Jobs Tab -->
  <ion-tab title="Jobs" icon="ion-medkit" href="#/tab/jobs">
    <ion-nav-view name="tab-jobs"></ion-nav-view>
  </ion-tab>

  <!-- Alerts Tab -->
  <ion-tab title="Alerts" icon="ion-ios-bell" href="#/tab/prodev">
    <ion-nav-view name="tab-prodev"></ion-nav-view>
  </ion-tab>





</ion-tabs>


